
table, header, footer, section, aside, nav, article { display: block;}
/*navtable {*/
/*    border: 1px solid black;*/
/*    border-color: black;*/
/*    border-collapse: collapse;*/
/*    height: 100%;*/
/*    padding: 12px;*/

/*}*/




header {


    height: 370px;
    width: 100%;
    padding-top: 220px;
    margin-bottom: 10px;
    text-align: center;
    background: transparent;
    background-blend-mode: normal;
    background-image: url("IMG/Toppicture-Wood.png");
    background-repeat: no-repeat;


    background-size: cover;
    background-position-x: 0px;
    background-position-y: -500px;

    font-size:60px;
    font-weight: bold;
    position:relative;
    color: khaki;


}
header p{
    text-transform:uppercase;
    font-size:11px;

}


.Kampfprotokoll {
    background: none;
    height: 350px;
    overflow-y: auto;
    width: 700px;
    padding: 10px;
    margin: 50px;
}
.fertigkeitenstart {
    background: none;
    height: 350px;
    overflow-y: auto;
    width: 500px;
    padding: 10px;
    margin: 50px;
}

nav {
    margin-left: -50px;
    margin-top: -150px;
    background-color: transparent;
    float: left;
    width: 333px;
    height: 1735px;
    background-repeat: no-repeat;
    text-align: center;
    font-size:40px;
    margin-right: 25px;
    padding-left: 240px;
    padding-right: 60px;
    background-image: url("IMG/antique-scroll.png");
    -moz-border-radius: 10px;

    border-radius: 10px;
    min-height: 500px;
    background-size: 78% 97%;
    background-position-x: 150px;
    background-position-y: -50px;
    position: relative;


}

nav img{ padding: 50px 50px 10px; width:50%; height: 300px;}


article {

    background-color: transparent;


    margin-left: 400px;
    padding-left: 200px;

    margin-top: -100px;
    width: 70%;
    height: 1400px;

    background-image: url("IMG/Midpaper.png");
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background-size: 100% 100%;
    font-size:22px;
    position: inherit;
    background-repeat:  no-repeat;

}



body {
    background-color: lightgray;
    font-size: 30px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#000000;
    padding:0;
    width: 100%;
    /*background-image: url("IMG/background.jpg");*/
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background-image: url("IMG/BackgroundGreenxcf.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body img{ padding: 50px 50px 10px; width:50%; height: 300px;}

footer {

    padding:96px;

    background-color: black;
    height: 100px;
    width: 80%;
    position: inherit;
    margin-left: 180px;


}

aside
{
    background-color: transparent;
    float: right;
    padding-top: 190px  ;
    margin-top: -150px;
    margin-right: -120px;
    width: 900px;
    height: 1450px;
    background-position-x: 0px;
    background-position-y: -20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    border-radius:10px;
    background-image: url("IMG/scroll right.png");
    position: relative;
    z-index: 8;
}

.responsive {
    width: 100%;
    height: auto;
}