
table, header, footer, section, aside, nav, article { display: block;}
/*navtable {*/
/*    border: 1px solid black;*/
/*    border-color: black;*/
/*    border-collapse: collapse;*/
/*    height: 100%;*/
/*    padding: 12px;*/

/*}*/
#container {
    width: 1200px;
    margin-bottom: 10px;
    margin:0 auto;
    background-color: lightgray;
    color-adjust: inherit ;

}



header {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    height: 200px;
    padding-top: 100px;
    text-align: center;
    text-effect: emboss;
    background: lightgray;
    background-image: url("IMG/fantasy.jpg");
    font-size:60px; font-weight: bold;

}

.Kampfprotokoll {
    background: none;
    height: 350px;
    overflow-y: auto;
    width: 700px;
    padding: 10px;
    margin: 50px;



}
header p{
    text-transform:uppercase;
    font-size:11px;

}
header img{ padding: 50px 50px 10px; width:50%; height: 300px;}


nav {

  /* MARGIN LEFT DEFAULT 100px!!*/  margin-left: 100px;
    margin-right: auto;
    background-color: #a42e2e;
    float: left;
    width: 300px;
    height: 1070px;

    text-align: center;
    font-size: 100%;


    position: inherit;

    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari, Chrome */
    -khtml-border-radius:10px; /* Konqueror */
    border-radius:10px;
    min-height:500px;

}

nav img{ padding: 50px 50px 10px; width:50%; height: 300px;}
article {





    background-color: khaki;
    margin-left: auto;
    margin-right: auto;
    padding: 0;


    width: 80%;
    height: 1070px;
    background-image: url("IMG/karte.jpg");
    position: inherit;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size:22px;"
}
article img{ padding: 50px 50px 10px; width:50%; height: 300px;}
aside {

    background-color:  #0D730B;
    float: right;
    width: 300px;
    height: 1070px;
    margin-right: 100px;
    margin-left: auto;
    padding: 0px;
    text-align: center;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari, Chrome */
    -khtml-border-radius:10px; /* Konqueror */
    border-radius:10px;
    min-height:500px;


    min-height:500px;


}
body {
    background-color: lightgray;
    font-size: 30px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#000000;
    padding:0;
    margin:0;
    width: 100%;
    /*background-image: url("IMG/background.jpg");*/
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}


body img{ padding: 50px 50px 10px; width:50%; height: 300px;}
footer {
    padding:20px;
    border-top:5px solid #ccc;
    background-color: white;
    width: 100%;
    height: 100px;
    margin-right: 100px;

}